<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Framework" version="17.4.0" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.2478.35" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="Nexmo.Apis" version="1.0.7" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="4.8.1" targetFramework="net472" />
  <package id="StyleCop.MSBuild" version="6.2.0" targetFramework="net472" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
</packages>